// estilo footer //
footer{
    background-color: $color_gris;
    padding: 1rem;
    .conteiner__footer{
        color:#ffffff;
        font-family: $titulos;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        line-height: 1rem;
        padding: 1rem 2rem 0rem 2rem;
        &--404{
            padding: 1rem 3rem 1rem 3rem;
            justify-content: space-between;
        }
        ul{
            margin: 0rem;
            padding: 0rem;
            li{
                list-style-type: none;
                font-size: 0.9rem;
                line-height: 1.8rem;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    transition: 0.5s;
                    &:hover{
                        color: #000000;
                    }
                }
            }
        }
        .footerSecciones{
            padding: 1rem 4rem;
            &--404{
                padding: 0rem;
                ul{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    li{
                        padding-right: 1rem;
                    }
                    .seccionContacto{
                        border-right: 1px solid #ffffff;
                    }
                    .seccionAyuda{
                        padding-left: 1rem;
                        border-right: 1px solid #ffffff;
                    }
                    .seccionTerminos{
                        padding-left: 1rem;
                    }
                }
                p{
                    margin-top: 0.3rem;
                    font-size: 0.8rem;
                }
            }
        }
        .footerContacto{
            padding: 1rem 3rem 2rem 3rem;
            border-left: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            .detallesUbicación{
                padding-left: 1.8rem;
            }
            li img{
                width: 1.5rem;
            }
        }
        .footerRedes{
            padding: 1rem 2rem 2rem 3rem;
            &--404{
                padding-top: 0.5rem;
                a{
                    img{
                        width: 1.8rem;
                        margin: 0rem 0.5rem;
                    }
                }
            }
            img{
                width: 2.5rem;
            }
            input{
                width: 12rem;
                padding-left: 0.5rem;
            }
            .botonSuscripcion{
                width: 5rem;
                padding-right: 0.5rem;
                font-size: 0.8rem;
            }
            .tarjeta__naranja{
                background-color: #ffffff;
                border-radius: 2px;
            }
        }
    }
    .copyright{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 1rem 0rem 0rem 6rem;
        &--404{
            margin: -1rem 0rem;
            img{
                margin-top: 10px;
            }
        }
        img{
            width: 20px;
            margin-left: 10px;
        }
        p{ 
            padding-top: 1.5rem;
            font-family: $titulos;
            font-size: 0.9rem;
            color: #ffffff;
        }
    }
}