// estilo header //
header {
  border-bottom: 1px solid #000000;
  position: sticky;
  top: 0px;
  z-index: 5 !important;
  nav {
      height: 70px;
    background-color: #ffffff;
    .conteinterNav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      a {
        img {
          margin-left: 15px;
          width: 160px;
        }
      }
      .navbarSecciones {
        ul {
          li {
            padding: 0rem 1rem;
            border-left: 1px solid $color_gris;
            font-family: $titulos;
            &:hover {
              background-color: $color_gris;
              transition: 0.5s;
              a {
                color: #ffffff;
              }
            }
            a {
              color: $color_gris;
            }
          }
          .carrito{
            &:hover{
              background-color: #ffffff
            }
            .botonCarrito {
              background-color: #ffffff;
              border: none;
              margin: 0rem 0.5rem;
              opacity: 0.8;
              transition: 0.5s;
              &:hover {
                background-color: #ffffff;
                transform: scale(1.08, 1.08);
                opacity: 1;
              }
              img {
                width: 2.2rem;
                margin: 0rem 1rem;
              }
            }
          }
        }
      }
      .botonHamburguesa {
        width: 5rem;
        margin-right: 1rem;
        padding: 0rem 1rem;
        background-color: $color_secundario;
        color: #ffffff;
      }
    }
  }
}