// estilo main html index //
body{
    background-color: $color_principal;
}
main{
    background-image: url(../media/img/fondoMosaico.png);
    background-repeat: repeat;
    .carrusel{
        img{
            width: 100%;
        }
        video{
            width: 100%;
        }
    }
    .carruselMobile{
        display: none;
        img{
            width: 100%;
        }
        video{
            width: 100%;
        }
    }
    .porque__lj{
        width: 100%;
        background-image: url(../media/img/fondo1.jpg);
        background-position: center;
        background-size: cover;
        margin: 2rem auto;
        padding: 3rem;
        article{
            h1{
                font-family: $titulos;
                text-align: center;
                word-spacing: 0.5rem;
                padding-bottom: 1rem;
            }
            p{
                font-family: $texto;
                text-align: center;
                font-size: 1.2rem;
                word-spacing: 0.3rem;
                font-weight: 500;
                span{
                    font-weight: 700;
                }
            }
        }
    }
    .feedInsta{
        background-image: url(../media/img/fondo2.jpg);
        background-position: bottom;
        border-radius: 10px;
        box-shadow: 5px 5px 20px $color_gris;
        width: 95%;
        height: 430px;
        margin: 2rem auto;
        padding: 2rem 0rem;
        .seguinosInstagram{
            width: 25rem;
            padding: 0.5rem 2rem;
            margin: 2rem auto;
            background-image: url(../media/img/fondo2.jpg);
            background-position: bottom;
            position: absolute;
            top: 1100px;
            left: 480px;
            a{
                font-family: $titulos;
                font-size: 1.2rem;
                text-decoration: none;
                color: #000000;
                img{
                    width: 35px;
                    margin: 0px 10px 10px 40px;
                }
            }

        }
    }
    .seccionProductos{
        width: 95%;
        margin: 2rem auto;
        padding: 3rem;
        background-color: $color_secundario;
        background-image: url(../media/img/fondo2.jpg);
        background-position: top;
        background-size: cover;
        border-radius: 13px;
        box-shadow: 5px 5px 20px $color_gris;
        .productos h2{
            font-family: $titulos;
            text-align: center;
            font-size: 2.5rem;
        }
        .productos p{
            font-family: $texto;
            text-align: center;
            font-size: 1.2rem;
            word-spacing: 0.3rem;
            font-weight: 500;
        }
        .conteinerCategorias{
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: space-around;
            .tarjetaCategoria{
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                background-color: #ffffff;
                width: 15rem;
                border-radius: 10px;
                margin: 1.5rem;
                box-shadow: 3px 3px 15px $color_gris;
                opacity: 0.8;
                &:hover{
                    opacity: 1;
                    transition: 0.7s;
                    h3{
                        background-color: $color_gris;
                        color: #ffffff;
                    }
                    li{
                        color: #000000;
                    }
                }
                img{
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                h3{
                    font-family: $titulos;
                    text-align: center;
                    transition: 0.7s;
                    margin-top: 5px;
                    padding: 5px;
                    font-size: 1.2rem;
                }
                ul{
                    text-align: center;
                    padding: 0px;
                    li{
                        color: $color_gris;
                        list-style-type: none;
                        font-family: $texto;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.7rem;
                        transition: 0.7s;
                    }
                }
                .botonTarjetas{
                    @include botonTarjetas;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
    .comoComprar_titulo{
        @include comoComprarTitulo(1rem 2rem 0rem 2rem);
    }
    .comoComprar{
        @include comoComprar (0rem 1rem 2rem 1rem);
        .comoComprar__bloque{
            @include comoComprarBloque;
        }
    }
    .botonWhatsapp{
        img{
            width: 70px;
            position: fixed;
            top: 440px;
            right: -13px;
            z-index: 3 !important;
            transition: 0.5s;
            opacity: 0.7;
            &:hover{
                right: 0px; 
                opacity: 1;
            }
        }
    }
    .botonFlechaTop{
        img{
            width: 140px;
            position: fixed;
            top: 433px;
            left: -85px;
            z-index: 3 !important;
            transition: 0.5s;
            opacity: 0.7;
            &:hover{
                left: -70px; 
                opacity: 1;
            }
        }
    }
    .botonSoporte{
        img{
            width: 140px;
            position: fixed;
            top: 505px;
            right: -82px;
            z-index: 3 !important;
            transition: 0.5s;
            opacity: 0.7;
            &:hover{
                right: -69px; 
                opacity: 1;
            }
        }
    }
    .offcanvas__carrito{
        width: 40%;
        .header__carrito{
            background-color: $color_gris;
            color: #ffffff;
            .offcanvas-title{
                font-family: $titulos;
                font-size: 1rem;
            }
        }
        .body__carrito{
            background-color: $color_principal;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            .misProductos__carrito{
                font-family: $titulos;
                font-size: 1rem;
                font-weight: 700;
                border-bottom: 1px $color_gris solid;
            }
            .producto__carrito{
                padding: 0.5rem 0rem;
                border-bottom: 1px $color_gris solid;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-content: flex-start;
                img{
                    width: 80px;
                }
                .detalles__productos{
                    width: 18rem;
                    padding: 0rem 1rem;
                    span{
                        font-family: $titulos;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                    p{
                        font-family: $titulos;
                        font-size: 0.8rem;
                    }
                    label{
                        font-family: $titulos;
                        font-size: 0.8rem;
                    }
                    input{
                        width: 3rem;
                        padding-left: 0.5rem;
                        font-family: $titulos;
                        font-weight: 500;
                    }
                }
                .boton__eliminarProducto{
                    width: 5rem;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    button{
                        border: none;
                        opacity: 0.8;
                        background-color: $color_principal;
                        &:hover{
                            background-color: $color_principal;
                            transform: scale(1.05,1.05);
                            opacity: 1;
                        }
                        img{
                            width: 2rem;
                        }
                    }
                    .precio__producto{
                        font-size: 1rem;
                    }
                }    
            }
            .total__carrito{
                padding-top: 1.5rem;
                font-family: $titulos;
                font-size: 1rem;
                line-height: 0.8rem;
                span{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
            .continuarCompra{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                padding: 0.5rem;
                border: 1px #ffffff solid;
                background-color: $color_gris;
                font-family: $titulos;
                font-size: 1rem;
                opacity: 0.7;
                &:hover{
                    opacity: 1;
                    border: 1px $color_gris solid;
                    transition: 0.5s;
                }
            }
        }
    }
}

// estilo main html nosotros //
.main__nosotros{
    background-color: $color_principal;
    .nosotros h1{
        margin: 0rem 4rem;
        padding-top: 2rem;
        font-family: $titulos;
        font-size: 2.2rem;
        letter-spacing: 0.3rem;
    }
    section{
        .fotoNosotros{
            width: 90%;
            margin: 0.5rem auto;
            box-shadow: 5px 5px 20px $color_gris;
            border-top-right-radius: 20px;
                img{
                    border-top-right-radius: 20px;
                }
        }
        .conteinerNosotros{
            width: 90%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 2rem auto 0rem auto;
            padding-bottom: 3rem;
            .conteinerNosotros__sobreNosotros{
                width: 880px;
                font-family: $texto;
                font-size: 1.2rem;
                line-height: 2rem;
                font-weight: 500;
                word-spacing: 0.3rem;
                padding: 3rem;
                background-image: url(../media/img/fondo2.jpg);
                background-size: cover;
                box-shadow: 5px 5px 20px $color_gris;
                border-bottom-left-radius: 20px;
                span{
                    font-weight: 700;
                }
            }
            .conteinerNosotros__fotoPolaroid{
                width: 310px;
                img{
                    width: 100%;
                    box-shadow: 5px 5px 20px $color_gris;
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
}

// estilo main html productos //
.main__productos{
    background-image: url(../media/img/fondoMosaico.png);
    background-repeat: repeat;
    .banner__catalogo{
        a{
            img{
                width: 100%;
                box-shadow: 0px 5px 50px$color_gris;
            }
        }
    }
    .bannerMobile__catalogo{
        display: none;
        a{
            img{
                width: 100%;
                box-shadow: 0px 5px 50px$color_gris;
            }
        }
    }
    h1{
        @include comoComprarTitulo(2rem 3rem 0rem 3rem);
    }
    .comoComprar{
        @include comoComprar (0rem 2rem);
        .comoComprar__bloque{
            @include comoComprarBloque;
        }
    }
    .conteiner__productos{
        margin: 2rem 3rem 0rem 3rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-template-areas: 
        "menuProductos categorias"; 
        .menuProductos{
            position: sticky;
            top: 6rem;
            grid-area: menuProductos;
            height: 70vh;
            padding: 1rem 1rem;  
            background-color: #ffffff;
            opacity: 0.8;
            .menuProductos__ul{
                font-family: $titulos;
                line-height: 3rem;
                margin-left: -2rem;
                a{
                    text-decoration: none;
                    color: #000000;
                    &:hover{
                        color: #ffffff;
                        background-color: $color_gris;
                    }
                    .menuProductos__li{
                        padding-left: 1rem;
                        list-style-type: none;
                        border-bottom: 1px $color_gris solid;
                        &:hover{
                            background-color: $color_gris;
                            transition: 0.5s;
                        }
                    }
                }
                
            }
        }
        .conteiner__categorias{
            padding: 0rem 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            grid-area: categorias;
            h2{
                font-family: $titulos;
                font-size: 1.7rem;
                word-spacing: 0.5rem;
                letter-spacing: 0.1rem;
                margin-bottom: 1rem;
                padding: 0.5rem 1rem 0.5rem 1rem;
                color: #ffffff;
                background-color: $color_gris;
                opacity: 0.7;
            }
            .conteiner__tarjetas{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                &--yoga{
                    align-self: flex-start;
                    column-gap: 1.5rem;
                }
                .tarjeta__producto{
                    margin-bottom: 1.5rem;
                    background-color: #ffffff;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    width: 14rem;
                    opacity: 0.8;
                    &:hover{
                        opacity: 1;
                        transition: 0.5s;
                        box-shadow: 3px 3px 15px $color_gris;
                    }
                    img{
                        width: 100%;
                    }
                    .conteiner__nombreProducto{
                        height: 14vh;
                        h3{
                            font-family: $titulos;
                            font-weight: 700;
                            text-align: left;
                            font-size: 1.1rem;
                            padding: 0.8rem 0.5rem 0rem 0.5rem;
                        }
                        p{
                            font-size: 0.8rem;
                        }
                    }
                    p{
                        font-family: $titulos;
                        text-align: left;
                        font-size: 1.2rem;
                        padding: 0rem 0.5rem;
                    }
                    .cantidad__variedad{
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        label{
                            font-family: $titulos;
                            text-align: left;
                            font-size: 0.9rem;
                            margin: 0.5rem;
                        }
                        input{
                            width: 3rem;
                            font-family: $titulos;
                            padding-left: 0.5rem;
                        }
                        select{
                            width: 100%;
                            height: 2rem;
                            font-family: $titulos;
                            font-size: 1rem;
                            margin-right: 0.5rem;
                        }
                    }
                    .boton__agregar{
                        @include botonTarjetas;
                    }
                }
            }
        }
    }
    .toast{
        border: none;
        font-family: $titulos;
        box-shadow: 0px 0px 10px #000000;
        margin-right: 4rem;
        .toast-header{
            background-color: $color_gris;
            color: #ffffff;
        }
        .logoToast{
            width: 25px;
        }
        .botonCerrar{
            background-color: $color_gris;
            border: none;
            img{
                width: 15px;
            }
        }
    }
}

// estilo main html contacto //
.mainContacto{
    background-color: $color_principal;
    background-image: url(../media/img/fondo2.jpg);
    background-size: cover;
    section{
        .mainContacto__contactanos{
            padding: 3rem;
            h1{
                font-family: $titulos;
                font-size: 2rem;
                text-align: center;
                letter-spacing: 0.3rem;
                margin-bottom: 3vh;
                text-align: center;
            }
            p{
                font-family: $texto;
                font-size: 1.2rem;
                text-align: center;
                font-weight: 500;
                word-spacing: 0.3rem;
            }
            form{
                fieldset{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 1rem auto;
                    border: none;
                    .bloqueFormulario{
                        width: 450px;
                        padding: 0rem 1rem;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        label{
                            text-align: left;
                            font-family: $titulos;
                            font-weight: 700;
                            margin-top: 1rem;
                        }
                        input{
                            background-color: #ffffff;
                            opacity: 0.7;
                            border: none;
                            width: 100%;
                            height: 2rem;
                            font-family: $titulos;
                            font-size: 1rem;
                            padding: 0.3rem;
                            box-shadow: 3px 3px 15px $color_gris;
                            border-radius: 5px;
                            &:hover{
                                opacity: 1;
                                transition: 0.5s;
                            }
                        }
                        .motivoConsulta{
                            background-color: #ffffff;
                            opacity: 0.7;
                            border: none;
                            width: 100%;
                            height: 2rem;
                            font-family: $titulos;
                            font-weight: 700;
                            font-size: 1rem;
                            padding: 0.3rem;
                            box-shadow: 3px 3px 15px $color_gris;
                            border-radius: 5px;
                            &:hover{
                                opacity: 1;
                                transition: 0.5s;
                            }
                        }
                        .checkbox{
                            width: 15px;
                            height: 1rem;
                            margin: 2rem 0rem 0rem 1rem;
                        }
                        .textAreaFormulario{
                            opacity: 0.6;
                            border: none;
                            width: 100%;
                            font-family: $titulos;
                            padding: 0.5rem;
                            font-size: 1rem;
                            box-shadow: 3px 3px 15px $color_gris;
                            border-radius: 5px;
                            resize: none;
                            &:hover{
                                opacity: 1;
                                transition: 0.5s;
                            }
                        }
                        .borrarEnviar{
                            border-radius: 5px;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            width: 100%;
                            font-weight: 700;
                            font-size: 1rem;
                            input{
                                width: 45%;
                                background-color: $color_gris;
                                color: #ffffff;
                                margin: 1rem 0rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// estilo main html ayuda //
.main__ayuda{
    h1{
        font-family: $titulos;
        font-size: 1.7rem;
        background-color: $color_gris;
        color: #ffffff;
        margin: 0rem 3rem;
        padding: 1rem 3rem 1rem 3rem;
        opacity: 0.8;
        text-align: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .conteiner__ayuda{
        padding: 1rem 3rem 3rem 3rem;
        opacity: 0.8;
        .acordeon__ayuda{
            padding-top: 1.5rem;
            z-index: 1;            
            h2{
                font-family: $titulos;
                font-size: 1.3rem;
                letter-spacing: 0.1rem;
                padding: 1rem 0rem 0rem 0rem;
                font-weight: 600;
            }
            h3{
                font-family: $titulos;
                font-size: 1rem;
                letter-spacing: 0.1rem;
            }
            p{
                padding-left: 2rem;
                font-family: $titulos;
                font-size: 0.9rem;
            }
            a{
                text-decoration: none;
                color: #000000;
                font-weight: 700;
            }
            .acordeon__pregunta{
                box-shadow: 5px 5px 20px $color_gris;
                &--primera{
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                &--ultima{
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
                .boton__pregunta{
                    width: 100%;
                    background-color: $color_secundario;
                    text-align: left;
                    color: #000000;
                    border: none;
                    padding: 1rem;
                    &--dif{
                        background-color: $color_principal;
                    }
                    &--primera{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                    &--ultima{
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                    &:hover{
                        background-color: $color_gris;
                        color: #ffffff;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

// estilo main html botik //
.main__botik{
    background-image: url(../media/img/fondoMosaico.png) ;
    background-repeat: repeat;
    padding-bottom: 3rem;
    .banner__catalogo{
        a{
            img{
                width: 100%;
                box-shadow: 0px 5px 50px$color_gris;
            }
        }
    }
    .bannerMobile__catalogo{
        display: none;
        a{
            img{
                width: 100%;
                box-shadow: 0px 5px 50px$color_gris;
            }
        }
    }
    .comercioAmigo{
        background-image: url(../media/img/fondo3.jpg);
        background-position: center;
        box-shadow: 0px 0px 30px $color_gris;
        margin: 3rem 3rem 0rem 3rem;
        padding: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        text-align: center;
        border-radius: 15px;
        h1{
            padding: 1rem;
            font-family: $titulos;
            font-size: 2.5rem;
            word-spacing: 0.5rem;
        }
        h2{
            padding: 1rem;
            font-family: $titulos;
            font-size: 1.5rem;
            word-spacing: 0.5rem;
        }
        p{
            padding: 1rem;
            font-family: $texto;
            font-size: 1.2rem;
            word-spacing: 0.3rem;
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
        .videoPuro{
            width: 100%;
            margin: 1rem auto;
            padding: 0rem 1rem;
            iframe{
                border-radius: 15px;
                width: 100%;
                box-shadow: 10px 10px 20px $color_gris;
            }
        }
        .conteinerSellos{
            margin: 1rem 0rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            .tarjetaSellos{
                width: 20rem;
                margin: 1rem;
                padding: 1rem;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: center;
                border-radius: 15px;
                background-color: #ffffff;
                opacity: 0.6;
                box-shadow: 5px 5px 20px $color_gris;
                transition: 1s;
                &:hover{
                    opacity: 1;
                    transform: scale(1.05,1.05);
                    background-color: $color_principal;
                }
                img{
                    width: 80px;
                    margin-bottom: 1rem;
                    margin-top: 0.5rem;
                }
                h3{
                    font-family: $titulos;
                    word-spacing: 0.5rem;
                    font-size: 1rem;
                    font-weight: 600;
                }
                p{
                    font-family: $texto;
                    font-size: 1.1rem;
                    margin-bottom: 0rem;
                }
            }
        }
    }
}
.body404{
    background-color: #ffffff;
    .main404{
        margin: 0rem auto;
        background-image: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .info404{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            .titulo404{
                font-family: $titulos;
                letter-spacing: 1rem;
                font-size: 8rem;
                margin: 0rem auto;
                text-align: center;
            }
            h2{ 
                font-family: $titulos;
                letter-spacing: 0.5rem;
                font-size: 4rem;
                margin-top: -2rem;
                padding: 0rem;
                text-align: center;
            }
            p{
                font-family: $texto;
                text-align: center;
                font-size: 1.2rem;
                span{
                    font-weight: 600;
                }
            }
            a{
                button{
                    @include botonTarjetas;
                    border-radius: 5px;
                    margin-top: 0rem;
                }
            }

        }
        img{
            margin: 0rem auto;
            width: 550px;
        }
    }
    
}
//media queries//

//Laptop L - W 1440px//
@media (min-width: 1440px){
    main{
        .offcanvas__carrito{
            .body__carrito{
                justify-content: space-between;
                .producto__carrito{
                    .detalles__productos{
                        label{
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
        .feedInsta{
            .seguinosInstagram{
                top: 1130px;
                left: 520px;
            }
        }
        .comoComprar{
            @include comoComprar (0rem 1rem 2rem 1rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 245px;
            }
        }
        .botonWhatsapp{
            img{
                top: 490px;
            }
        }
        .botonSoporte{
            img{
                top: 555px;
            }
        }
        .botonFlechaTop{
            img{
                top: 483px;  
            }
        }
    }
    .main__nosotros{
        .nosotros h1{
            margin: 0rem 4.5rem;
        }
        section{
            .conteinerNosotros{
                .conteinerNosotros__sobreNosotros{
                    width: 910px;
                }
                .conteinerNosotros__fotoPolaroid{
                    width: 350px;
                }
            }   
        }
    }
    .main__productos{
        .comoComprar{
            @include comoComprar (0rem 2rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 240px;
            }
        }
        .conteiner__productos{
            .menuProductos{
                height: 62vh;
            }
            .conteiner__categorias{
                .conteiner__tarjetas{
                    &--yoga{
                        column-gap: 3rem;
                    }
                }
            }
        }
    }
    .main__botik{
        .comercioAmigo{
            .conteinerSellos{
                .tarjetaSellos{
                width: 24rem;
                }
            }
        }
    }
    .body404{
        .main404{
            margin: 3.3rem auto; 
        }
    }
}

//Laptop - W 1280px//
@media (max-width: 1280px){
    main{
        .feedInsta{
            width: 95%;
            padding: 2rem 4rem;
            .seguinosInstagram{
                top: 1075px;
                left: 440px;
            }
        }
        .seccionProductos{
            .conteinerCategorias{
                .tarjetaCategoria{
                    width: 14rem;
                    margin: 1rem;
                }
            }
        }
        .comoComprar{
            @include comoComprar (0.5rem 1rem 2rem 1rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 215px;
            }
        }
    }
    .main__nosotros{
        section{
            .conteinerNosotros{
                .conteinerNosotros__sobreNosotros{
                    width: 780px;
                }
                .conteinerNosotros__fotoPolaroid{
                    width: 330px;
                }
            }   
        }
    }
    .main__productos{
        .comoComprar{
            @include comoComprar (0.5rem 2rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 210px;
                height: 340px;
            }
        }
        .conteiner__productos{
            .conteiner__categorias{
                .conteiner__tarjetas{
                    &--yoga{
                        column-gap: 1rem;
                    }
                    .tarjeta__producto{
                        width: 13.5rem;
                    }
                }
            }
        }
    }
}

//Laptop L - W 1200px//
@media (max-width: 1200px){
    main{
        .offcanvas__carrito{
            .body__carrito{
                justify-content: space-between;
                .producto__carrito{
                    .detalles__productos{
                        label{
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
        .feedInsta{
            width: 95%;
            padding: 2rem 4rem;
            .seguinosInstagram{
                top: 1060px;
                left: 400px;
            }
        }
        .seccionProductos{
            .conteinerCategorias{
                .tarjetaCategoria{
                    width: 14rem;
                    margin: 1rem;
                }
            }
        }
        .comoComprar{
            @include comoComprar (0.5rem 1rem 2rem 1rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 200px;
            }
        }
    }
    .main__nosotros{
        .nosotros h1{
            margin: 0rem 4rem;
        }
        section{
            .conteinerNosotros{
                .conteinerNosotros__sobreNosotros{
                    width: 715px;
                }
                .conteinerNosotros__fotoPolaroid{
                    width: 330px;
                }
            }   
        }
    }
    .main__productos{
        .comoComprar{
            @include comoComprar (0.5rem 2rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 190px;
                height: 360px;
            }
        }
        .conteiner__productos{
            .menuProductos{
                height: 78vh;
            }
            .conteiner__categorias{
                .conteiner__tarjetas{
                    justify-content: flex-start;
                    column-gap: 65px;
                    .tarjeta__producto{
                        width: 15rem;
                        .conteiner__nombreProducto{
                            height: 16vh;
                        }
                    }
                }
            }
        }
    }
    .main__botik{
        .comercioAmigo{
            .conteinerSellos{
                .tarjetaSellos{
                width: 18rem;
                }
            }
        }
    }
    .body404{
        .main404{
            .info404{
                margin-top: 1.5rem;
                .titulo404{
                    font-size: 6rem;
                }
                h2{
                    font-size: 3rem;
                    margin-top: -1.5rem;
                }
            }
            align-items: flex-start;
            img{
                width: 430px;
            }
        }
    }
}

//Tablet (iPad) - W 1024px//
@media (max-width: 1024px){
    main{
        .offcanvas__carrito{
            width: 50%;
        }
        .feedInsta{
            height: 360px;
            padding: 1rem 2rem;
            .seguinosInstagram{
                top: 965px;
                left: 312px;
            }
        }
        .seccionProductos{
            .conteinerCategorias{
                justify-content: space-between;
                .tarjetaCategoria{
                    width: 12rem;
                    margin: 0.7rem;
                    ul{
                        li{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .comoComprar{
            @include comoComprar (0.5rem 1rem 2rem 1rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 165px;
                height: 385px;
                img{
                    width: 40px;
                }
            }
        }
        .botonWhatsapp{
            img{
            width: 65px;
            }
        }
        .botonSoporte{
            img{
                width: 130px;
                right: -77px;
            }
        }
        .botonFlechaTop{
            img{
                width: 130px;
                left: -77px;
            }
        }
    }
    .main__nosotros{
        .nosotros h1{
            margin: 0rem 3.5rem;
        }
        section{
            .conteinerNosotros{
                .conteinerNosotros__sobreNosotros{
                    width: 610px;
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                    padding: 2rem;
                }
                .conteinerNosotros__fotoPolaroid{
                    width: 280px;
                }
            }   
        }
    }
    .main__productos{
        .comoComprar{
            @include comoComprar (0.5rem 2rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 160px;
                height: 425px;
            }
        }
        .conteiner__productos{
            .menuProductos{
                height: 58vh;
                .menuProductos__ul{
                    line-height: 2.5rem;
                }
            }
            .conteiner__categorias{
                .conteiner__tarjetas{
                    justify-content: flex-start;
                    column-gap: 30px;
                    .tarjeta__producto{
                        width: 13.5rem;
                        .conteiner__nombreProducto{
                            height: 16vh;
                            h3{
                                font-size: 1rem;
                            }
                        }
                        .cantidad__variedad{
                            label{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .main__botik{
        .comercioAmigo{
            h1{
                font-size: 2rem;
                img{
                    width: 170px;
                }
            }
            h2{
                font-size: 1.3rem;
            }
            .conteinerSellos{
                .tarjetaSellos{
                width: 24rem;
                }
            }
        }
    }
    .body404{
        .main404{
            .info404{
                margin-top: 5rem;
            }
            img{
                margin-top: 5rem;
                width: 400px;
            }
        }
    }
}

//Tablet (iPad) - W 768x1024//
@media (max-width: 768px){
    main{
        .offcanvas__carrito{
            width: 60%;
            .body__carrito{
                justify-content: flex-start;
            }
        }
        .feedInsta{
            width: 90%;
            height: 300px;
            padding: 0.5rem 2rem;
            .seguinosInstagram{
                top: 855px;
                left: 185px;
            }
        }
        .seccionProductos{
            width: 90%;
            .conteinerCategorias{
                justify-content: space-around;
                .tarjetaCategoria{
                    width: 15rem;
                    margin: 1rem;
                    ul{
                        li{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .comoComprar_titulo{
            @include comoComprarTitulo(1.5rem 2.3rem 0rem 2.3rem);
            font-size: 1.8rem;
        }
        .comoComprar{
            @include comoComprar (0.5rem 1.3rem 2rem 1.3rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                padding: 0.1rem 2rem;
                width: 700px;
                height: 200px;
                img{
                    width: 50px;
                }
                &.bloqueIzquierdo{
                    border-bottom-left-radius: 0px;
                }
                &.bloqueDerecho{
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
            }
        }
        .botonFlechaTop{
            img{
                top: 880px;
            }
        }
        .botonWhatsapp{
            img{
                top: 880px;
            }
        }
        .botonSoporte{
            img{
                top: 945px;
            }
        }
    }
    .main__nosotros{
        .nosotros h1{
            margin: 0rem 2.5rem;
        }
        section{
            .conteinerNosotros{
                .conteinerNosotros__sobreNosotros{
                    width: 100%;
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                    padding: 2rem;
                    border-bottom-right-radius: 20px;
                }
                .conteinerNosotros__fotoPolaroid{
                    display: none;
                }
            }   
        }
    }
    .main__botik{
        .comercioAmigo{
            h1{
                font-size: 1.8rem;
                img{
                    width: 170px;
                }
            }
            h2{
                font-size: 1rem;
            }
            p{
                font-size: 1rem;
            }
            .conteinerSellos{
                .tarjetaSellos{
                width: 17rem;
                opacity: 0.8;
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .mainContacto{
        .mainContacto__contactanos{
            p{
                padding: 0rem 7.5rem;
                font-size: 1rem;
            }
        }
    }
    .body404{
        .main404{
            flex-flow: column nowrap;
            align-items: center;
            .info404{
                margin-top: 2rem;
                .titulo404{
                    font-size: 8rem;
                }
                h2{
                    font-size: 4rem;
                }
            }
            img{
                margin-top: 1rem;
                margin-left: -100px;
                width: 550px;
            }
        }
    }
    .main__productos{
        h1{
            font-size: 1.5rem;
        }
        .comoComprar{
            @include comoComprar (0.5rem 3rem);
            .comoComprar__bloque{
                @include comoComprarBloque;
                width: 120px;
                height: 390px;
                padding: 0rem 0.5rem;
                margin: 0.5rem 0rem;
                &.bloqueDerecho{
                    border-bottom-left-radius: 0px;
                }
                img{
                    width: 40px;
                }
                p{
                    font-size: 0.9rem;
                }
                span{
                    font-size: 1rem;
                }
            }
        }
        .conteiner__productos{
            margin: 1rem 3rem 0rem 3rem;
            grid-template-columns: 25% 75%;
            .menuProductos{
                height: 36vh;
                .menuProductos__ul{
                    line-height: 2.5rem;
                    font-size: 0.8rem;
                    a{
                        .menuProductos__li{
                            padding-left: 0.5rem;
                        }
                    }
                }
            }
            .conteiner__categorias{
                .conteiner__tarjetas{
                    justify-content: space-between;
                    &--yoga{
                        align-self: inherit;
                        column-gap: 1.5rem;
                    }
                    .tarjeta__producto{
                        width: 220px;
                        .conteiner__nombreProducto{
                            height: 8vh;
                            h3{
                                font-size: 1rem;
                            }
                        }
                        .cantidad__variedad{
                            label{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Tablet (Pequeña) - W 600x800//
@media (max-width: 600px){
    main{
        .carrusel{
            display: none;
        }
        .carruselMobile{
            display: inherit;
        }
        .offcanvas__carrito{
            width: 70%;
            .body__carrito{
                .producto__carrito{
                    .boton__eliminarProducto{
                        .precio__producto{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .feedInsta{
            width: 93%;
            height: 250px;
            padding: 0rem 1rem;
            .seguinosInstagram{
                top: 955px;
                left: 100px;
            }
        }
        .seccionProductos{
            width: 93%;
            .conteinerCategorias{
                .tarjetaCategoria{
                    width: 12rem;
                    margin: 1rem;
                    ul{
                        li{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .comoComprar_titulo{
            @include comoComprarTitulo(0rem auto);
            font-size: 1.8rem;
            width: 93%;
        }
        .comoComprar{
            @include comoComprar (0.5rem 0rem 2rem 0rem);
            width: 93%;
            margin: 0rem auto;
            .comoComprar__bloque{
                @include comoComprarBloque;
                margin: 0.5rem 0rem;
                padding: 0.1rem 2rem;
                width: 100%;
                height: 200px;
                img{
                    width: 50px;
                }
                &.bloqueIzquierdo{
                    border-bottom-left-radius: 0px;
                }
                &.bloqueDerecho{
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
            }
        }
        .botonFlechaTop{
            img{
                top: 542px;
            }
        }
        .botonWhatsapp{
            img{
                top: 550px;
            }
        }
        .botonSoporte{
            img{
                top: 615px;
            }
        }
    }
    .body404{
        .main404{
            flex-flow: column nowrap;
            justify-content: space-around;
            .info404{
                margin-top: 1rem;
                .titulo404{
                    font-size: 6rem;
                }
                h2{
                    font-size: 3rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            img{
                margin-left: -4rem;
                width: 300px;
            }
        }
    }
    .main__botik{
        .banner__catalogo{
            display: none;
        }
        .bannerMobile__catalogo{
            display: inline;
        }
        .comercioAmigo{
            .conteinerSellos{
                .tarjetaSellos{
                    width: 100%;
                }
            }
        }
    }
    .mainContacto{
        .mainContacto__contactanos{
            p{
                padding: 0rem 2.5rem;
            }
        }
    }
    .main__productos{
        padding-bottom: 1rem;
        .banner__catalogo{
            display: none;
        }
        .bannerMobile__catalogo{
            display: inline;
        }
        h1{
            @include comoComprarTitulo(2rem auto);
            font-size: 1.8rem;
            width: 93%;
            margin-bottom: 0rem;
        }
        .comoComprar{
            @include comoComprar (0.5rem 0rem 0rem 0rem);
            width: 93%;
            margin: 0rem auto;
            .comoComprar__bloque{
                @include comoComprarBloque;
                margin: 0.5rem 0rem;
                padding: 0.1rem 2rem;
                width: 100%;
                height: 180px;
                &.bloqueDerecho{
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                }
                &.bloqueIzquierdo{
                    border-bottom-left-radius: 0px;
                }
                img{
                    width: 40px;
                }
                p{
                    font-size: 0.9rem;
                }
                span{
                    font-size: 1rem;
                }
            }
        }
        .conteiner__productos{
            width: 93%;
            margin: 1rem auto;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "menuProductos"
            "categorias";
            .menuProductos{
                height: 16.5vh;
                border-radius: 15px;
                z-index: 4;
                margin-bottom: 1rem;
                padding: 0.5rem 1rem;
                opacity: 0.9;
                box-shadow: 0px 0px 15px $color_gris;
                .menuProductos__ul{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    column-gap: 0.5rem;
                    font-size: 12px;
                    text-align: center;
                    a{
                        width: 23%;
                        &:hover{
                            background-color: #ffffff;
                            color: $color_gris;
                            transition: 0.5s;
                        }
                        .menuProductos__li{
                            padding: 0rem 0.5rem;
                            margin: 0.5rem 0rem;
                            border: 1px solid $color_gris;
                            border-radius: 10px;
                            background-color: $color_gris;
                            color: #ffffff;
                            box-shadow: 0px 0px 10px $color_gris;
                            &:hover{
                                background-color: #ffffff;
                                color: $color_gris;
                                transition: 0.5s;
                                border: 1px solid #ffffff;
                            }
                        }
                    }
                }
            }
            .conteiner__categorias{
                width: 100%;
                padding: 0rem;
                h2{
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                .conteiner__tarjetas{
                    justify-content: space-between;
                    column-gap: 0rem;
                    &--yoga{
                        align-self: inherit;
                    }
                    .tarjeta__producto{
                        width: 270px;
                        box-shadow: 3px 3px 15px $color_gris;
                        .conteiner__nombreProducto{
                            height: 10vh;
                            h3{
                                font-size: 1rem;
                            }
                        }
                        .cantidad__variedad{
                            label{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Mobile L - W 425//
@media (max-width: 425px){
    main{
        .offcanvas__carrito{
            width: 90%;
            .body__carrito{
                .producto__carrito{
                    .boton__eliminarProducto{
                        .precio__producto{
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
        .feedInsta{
            display: none;
        }
        .seccionProductos{
            width: 90%;
            background-size: auto;
            .productos p{
                font-size: 1.3rem;
            }
            .conteinerCategorias{
                .tarjetaCategoria{
                    width: 100%;
                    margin: 1rem 0rem;
                    border-radius: 15px;
                    h3{
                        font-size: 1.2rem;
                    }
                    .botonTarjetas{
                        margin-top: 0rem;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                    }
                }
            }
        }
        .comoComprar_titulo{
            width: 90%;
        }
        .comoComprar{
            width: 90%;
            .comoComprar__bloque{
                height: 220px;
                padding: 0.1rem 1rem;
            }
        }
        .botonFlechaTop{
            img{
                width: 100px;
                top: 79.2%;
                left: -58px;
                &:hover{
                    left: -48px;
                    left: -58px;
                    opacity: 0.7;
                }
                &:active{
                    left: -48px;
                    opacity: 1;
                }
            }
        }
        .botonWhatsapp{
            img{
                width: 50px;
                top: 80%;
                right: -11px;
                &:hover{
                    right: -1px;
                    right: -11px;
                    opacity: 0.7;
                }
                &:active{
                    right: -1px;
                    opacity: 1;
                }
            }
        }
        .botonSoporte{
            img{
                width: 105px;
                top: 87%;
                right: -65px;
                &:hover{
                    right: -55px;
                    right: -65px;
                    opacity: 0.7;
                }
                &:active{
                    right: -55px;
                    opacity: 1;
                }
            }
        }
    }
    .main__nosotros{
        .nosotros h1{
            font-size: 1.5rem;
            margin: 0rem 1.5rem;
        }
        section{
            .conteinerNosotros{
                .conteinerNosotros__sobreNosotros{
                    margin-top: -0.5rem;
                }
            }
        }
    }
    .body404{
        .main404{
            .info404{
                .titulo404{
                    font-size: 4rem;
                }
                h2{
                    font-size: 2rem;
                    margin-top: -1rem;
                }
                p{
                    font-size: 0.8rem;
                    margin: 0rem 0.5rem;
                }
                a{
                    button{
                        margin-top: 0.5rem;
                        font-size: 0.8rem;
                    }
                }
            }
            img{
                margin-left: -4rem;
                width: 280px;
            }
        }
    }
    .mainContacto{
        section{
            .mainContacto__contactanos{
                padding: 2rem 1rem;
                h1{
                    font-size: 1.5rem;
                }
                p{
                    padding: 0rem 0.5rem;
                    font-size: 1rem;
                }
            }
        }  
    }
    .main__productos{
        h1{
            font-size: 1.5rem;
            width: 90%;
        }
        .comoComprar{
            width: 90%;
            .comoComprar__bloque{
                margin: 0.5rem 0rem;
                padding: 0.1rem 0.8rem;
                width: 100%;
                height: 180px;
                &.bloqueIzquierdo{
                    border-bottom-left-radius: 0px;
                }
                img{
                    width: 40px;
                }
                p{
                    font-size: 0.8rem;
                }
                span{
                    font-size: 0.9rem;
                }
            }
        }
        .conteiner__productos{
            width: 90%;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            margin: 1rem auto;
            grid-template-areas: 
            "categorias menuProductos";
            .menuProductos{
                z-index: 1;
                height: 470px;
                padding: 0.2rem 0.5rem;
                .menuProductos__ul{
                    font-size: 11px;
                    a{
                        width: 100%;
                    }
                }
            }
            .conteiner__categorias{
                .conteiner__tarjetas{
                    .tarjeta__producto{
                        width: 100%;
                        .conteiner__nombreProducto{
                            height: 12vh;
                        }
                    }
                }
            }
        }
    }
}